SimpleITK>=2.3,<3
nibabel>=5.2,<6
numpy>=1.26,<2.3
scipy>=1.12
acvl-utils>=0.2,<0.3
dynamic-network-architectures==0.4.4
timm>=1.0
tqdm
dicom2nifti
batchgenerators>=0.25
batchgeneratorsv2
scikit-learn
scikit-image>=0.19.3,<0.25
pandas
graphviz
tifffile
requests
imagecodecs
yacs
einops
loguru==0.7.3
omegaconf>=2.3.1
setuptools>=67.8
